<header>
   <h3>Website Name</h3>
    <nav>
        <a href="home">home</a>
        <a href="about">about</a>
        <a href="contact">contact</a>
        <a href="users">users</a>
    </nav>
</header>